<footer>
    <div class="container">
        <div class="row">
             <div class="col-sm-4">
                <div class="heading-small" >Aktuell auf Intagram</div>
                <div class="instgram-box row no-gutter">
                    <div class="col-xs-4" *ngFor="let instagramPost of instagramPosts.slice(0, 9)">
                        <a href="{{instagramPost.link}}" target="_blank">
                            <img class="image-responsive" src="{{instagramPost.images.low_resolution.url}}">
                        </a>
                     </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="heading-small">Kontakt</div>
                <div>
                    <i class="icon-spacing-right icon-user-secret"></i>
                    Anja
                </div>
                <div>
                    <i class="icon-spacing-right icon-envelope-o"></i>
                    haekelmanufaktur[at]gmail.com
                </div>
                <div>
                    <i class="icon-spacing-right icon-instagram"></i>
                    <a href="https://www.instagram.com/haekelmanufaktur/" target="_blank">Auf Instagram folgen</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="heading-small">Kategorien</div>
                <ul class="category-list">
                    <li *ngFor="let tag of tags">
                        <a [routerLink]="['kategorie', tag.alias]">
                            <i class="icon-angle-double-right"></i>
                            {{tag.name}}
                        </a>
                     </li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="margin-bottom">© 2017 Maschenmanufaktur</p>
    </div>
</footer>
