<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="heading-small">Kontakt</div>
                <div class="display-flex align-items-center">
                    <div class="image-circle"></div>
                    <div>
                        <div>
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            Anja
                        </div>
                        <div>
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            haekelmanufaktur[at]gmail.com
                        </div>
                        <div>
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            <a href="https://www.instagram.com/haekelmanufaktur/" target="_blank">Auf Instagram folgen</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="heading-small">Kategorien</div>
                <ul class="category-list">
                    <li>Kategorie 1</li>
                    <li>Kategorie 2</li>
                    <li>Kategorie 3</li>
                    <li>Kategorie 4</li>
                    <li>Kategorie 5</li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="heading-small">Was anderes</div>
            </div>
        </div>
        <p class="margin-bottom">© 2017 Maschenmanufaktur</p>
    </div>
</footer>