/* overwrite bootstrap variables */
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

$brand-primary: #009688;

$padding-base-vertical: 10px;
$padding-base-horizontal: 15px;

$headings-font-weight: 700;

$btn-primary-color: $brand-primary;
$btn-primary-bg: transparent;
$btn-primary-border: $brand-primary;
$btn-border-radius-base: 0;

$screen-lg: 9999px;

$hr-border: #ccc;


/* own variables */
$light: #FFF;
$dark: #2e2e2e;

$header-height: 50px;
$footer-height: 235px;

@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "public/style";

body {
    background-color: $dark;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a {
    cursor: pointer;
    
    &:hover {
        text-decoration: none;
    }
}

/* typo */
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
}

.heading-small {
    font-size: 14px;
    font-weight: bold;
    margin: $padding-base-horizontal 0;
    text-transform: uppercase;
}

.post-date,
.post-tags  {
    color: $gray-light;
    font-weight: 300;
    margin-bottom: $padding-base-vertical/2;

    a {
        color: $gray-light;
    }

    a:hover {
        color: $brand-primary;
    }
}

/* general layout */
.navbar {
    background-color: $dark;
}

.content-wrapper {
    background-color: #EFEFEF;
}

.main-container {
    padding-top: 65px;    
    padding-bottom: $padding-base-horizontal;
}

footer {
    background-color: $dark;
    color: $light;
    padding-bottom: $padding-base-horizontal;

    a {
        color: $light;
    }

    a:hover {
        color: $brand-primary
    }

    hr {
        border-top: 1px solid $gray;
        margin-bottom: 10px;
    }
}

/* helpers */
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.margin-bottom {
    margin-bottom: $padding-base-vertical;
}

.display-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.flex-1 {
    flex: 1;
}

/* buttons */
.btn {
    border: 2px solid $btn-primary-color;
    padding: $padding-base-vertical $padding-base-vertical*3;
}

.btn.btn-primary:hover {
    color: $light;
    background-color: $btn-primary-color;
    border: 2px solid $btn-primary-color;
}

/* icons */
.icon-spacing-right {
    margin-right: 3px; 
}

/* images */
.image-responsive,
.post-text img {
    max-width: 100%;
    display: block;
    height: auto;
}

.instgram-box {
    margin: 0;
}

/* lists */
.category-list {
    list-style: none;
    padding: 0;

    li {
        padding-bottom: $padding-base-vertical/2;
        margin-bottom:  $padding-base-vertical/2;
    }

    li:not(:last-child) {
        border-bottom: 1px dashed $light;
    }

    [class^="icon-"] {
        font-size: 16px;
        margin-right: 3px;
    }
}

/* article overview */
.post-preview {
    background-color: $light;
    margin: $padding-base-horizontal 0;

    .post-preview-details {
        padding: $padding-base-horizontal;
    }
}

@media (min-width: $screen-sm-min) {
    .post-preview {
        height: 250px;
        display: flex;
        align-items: center;
    }

    .post-preview-image {
         height: 250px;
         width: 250px;
    }
}

/* single posts */
.post {
    margin-bottom: $padding-base-horizontal * 2;

    .icon-tags {
        margin-left: 5px;
    }

    .post-text {
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;

        strong {
            font-weight: 400;
        }
    }
}