/* ==========================================================================
   Author's custom styles
   ========================================================================== */
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
    font-family: 'Source Sans Pro', sans-serif;
}

footer {
    background-color: #2e2e2e;
    bottom: 0;
    color: #fff;
    margin-top: 15px;
    padding: 15px;
    position: absolute;    
    width: 100%;
    height: 220px;
}
