<article class="post" *ngIf="post">
  <h3>{{post.title}}</h3>
  <div class="display-flex align-items-center">
      <div class="post-date">{{post.createdAt | date:'d. MMMM y'}} | </div>
      <div class="post-tags">
          <i class="icon-spacing-right icon-tags"></i>
          <a *ngFor="let tag of post.tags" [routerLink]="['/kategorie', tag.alias]">{{tag.name}}</a>
      </div>
  </div>
  <br>

  <div class="post-text" [innerHTML]="sanitize(post.text)"></div>

  <div *ngFor="let comment of post.comments">
    <pre>{{comment | json}}</pre>
    <br>
  </div>
</article>

<p *ngIf="notFound" class="text-center">Der Beitrag konnte leider nicht gefunden werden :(</p>

<button class="btn btn-secondary" (click)="createComment()">Kommentar anlegen</button>
<button class="btn btn-primary" (click)="back()">Zurück zur Übersicht</button>
