<article class="post" *ngIf="post">
  <h3>{{post.title}}</h3>
  <div class="display-flex align-items-center">
      <div class="post-date">{{post.createdAt | date:'d. MMMM y'}} | </div>
      <div class="post-tags">
          <i class="icon-spacing-right icon-tags"></i>
          <a *ngFor="let tag of post.tags" [routerLink]="['/kategorie', tag.alias]">{{tag.name}}</a>
      </div>
  </div>
  <br>

  <div class="post-text" [innerHTML]="sanitize(post.text)"></div>

  <button class="btn btn-primary" (click)="back()">Zurück zur Übersicht</button>
  
  <hr *ngIf="post.comments.size > 0">

  <h3 *ngIf="post.comments.size > 0">{{post.comments.size}} Kommentar(e)</h3>
  <div class="user-comment" *ngFor="let comment of post.comments">
    <div class="user-comment-title">
      <span class="heading-small">{{comment.name}}</span> | <span class="post-date">{{comment.createdAt | date:'d. MMMM y'}}</span>
    </div>
    <p class="post-tags">{{comment.text}}</p>
  </div>

  <hr>

  <div class="alert alert-success" *ngIf="commentSaved">Vielen Dank für deinen Kommentar! Er wurde erfolgreich gespeichert.</div>
  <h3>Hinterlasse einen Kommentar</h3>
  <div>
    <form [formGroup]="form" (ngSubmit)="form.controls.answer.value == captcha.solution && createComment(form.value)">
      <input type="text" hidden="{{true}}" formControlName="website">
      <div class="row">
        <div class="form-group col-sm-6" [ngClass]="{'has-error':!form.controls.name.valid && form.controls.name.touched}">
          <label>Name *</label>
          <input class="form-control" type="text" formControlName="name">
          <div *ngIf="!form.controls.name.valid && form.controls.name.touched" class="alert alert-danger">
            Ein gültiger Name besteht aus mindestens 2 Zeichen.
          </div>
        </div>
        <div class="form-group col-sm-6" [ngClass]="{'has-error':!form.controls.email.valid && form.controls.email.touched}">
          <label>E-Mail</label>
          <input class="form-control" type="email" formControlName="email">
          <div *ngIf="!form.controls.email.valid && form.controls.email.touched" class="alert alert-danger">
            Bitte gib eine gültige E-Mail Adresse ein.
          </div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':!form.controls.text.valid && form.controls.text.touched}">
        <label>Kommentar *</label>
        <textarea class="form-control" formControlName="text" rows="7"></textarea>
        <div *ngIf="!form.controls.text.valid && form.controls.text.touched" class="alert alert-danger">
          Ein Kommentar muss mindestens 10 Zeichen beinhalten.
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': (!form.controls.answer.valid || form.controls.answer.value != captcha.solution) && form.controls.answer.touched}">
        <label>Sicherheitsfrage *: {{captcha.task}}</label>
        <input type="text" class="form-control" formControlName="answer" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Kommentar übernehmen</button>
        <span class="pull-right post-date">*Pflichtfeld</span>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
</article>

<p *ngIf="notFound" class="text-center">Der Beitrag konnte leider nicht gefunden werden :(</p>