<article class="post-preview" *ngFor="let post of posts">
    <div class="post-preview-image">
         <img class="image-responsive" *ngIf="post.preview_image" [src]="post.preview_image.url">
    </div>
    <div class="post-preview-details flex-1">
        <div class="display-flex">
            <div class="post-date">{{post.createdAt | date:'d. MMMM y'}}</div>
            <div class="post-tags flex-1 text-right">
                <i class="icon-spacing-right icon-tags"></i>
                <a *ngFor="let tag of post.tags" [routerLink]="['/kategorie', tag.alias]">{{tag.name}}</a>
            </div>
        </div>
        <h3>{{post.title}}</h3>
        <p>{{post.description}}</p>
        <button [routerLink]="['/', post.slug]" class="btn btn-primary pull-right">Beitrag lesen</button>
        <div class="clearfix"></div>
    </div>
</article>